{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>Order Date</th>
                    <th>Product Reference</th>
                    <th>Phone Number</th>
                    <th>Shop Name</th>
                    <th>Address</th><th>Landmark</th><th>Prefer Date</th><th>Quantity</th>
                    <th>Amount</th><th>Gst Amount</th><th>Bill Amount</th><th>Update</th><th>Delete</th>
                </tr>
                {%for order in all_order %}
                <tr>
                    <td>{{order.date}}</td><td>{{order.product_reference_id}}</td><td>{{order.phone_number}}</td>
                    <td>{{order.shop_name}}</td><td>{{order.address}}</td><td>{{order.landmark}}</td>
                    <td>{{order.prefer_date}}</td><td>{{order.quantity}}</td><td>{{order.amount}}</td>
                    <td>{{order.gst_amount}}</td><td>{{order.bill_amount}}</td><td><button>update</button></td>
                    <td><button>delete</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
</div>

{% endblock %}